version: '3.1'

services:
  db:
    image: postgres:latest
    env_file:
      - .env
    ports:
      - 3000:5432
    volumes:
      - db-data:/var/lib/postgresql/data


  adminer:
    image: adminer:latest
    env_file:
      - .env
    ports:
      - 8085:8080

volumes:
  db-data:
    driver: local
